    <footer class="footer">
        <!-- <nav class="navbar navbar-default navbar-custom"> -->
            <div class="container-fluid">
                <div class="text-center center-block">
                    <a href="https://www.linkedin.com/in/racheltan17/"><i class="fab fa-linkedin-in fa-2x icon"></i></a>
					<a href="https://github.com/tanrachel"><i class="fab fa-github fa-2x icon"></i></a>
					<a href="/contactme"><i class="fas fa-envelope fa-2x icon"></i></a>

                </div>
            </div>
        <!-- </nav> -->
    </footer>
    </body>
</html>