<% include ./partials/header %>
<form action="/contactme" id="contact-form" method="post" role="form">
  <fieldset>
    <label for="name">Name</label>
    <input 
      id="name" 
      name="name" 
      type="text" 
      placeholder="Your name" 
      required>

    <label for="email">Email</label>
    <input 
      id="email" 
      name="email" 
      type="text" 
      placeholder="Your email" 
      required>
	  
	<label for="title">Email Tile</label>
    <input 
      id="title" 
      name="title" 
      type="text" 
      placeholder="Email Title" 
      required>

    <label for="message">Message</label>
    <textarea 
      id="message" 
      name="message" 
      placeholder="Enter your message here" 
      rows="3" 
      required>
    </textarea>

    <button type="submit">Submit</button>
  </fieldset>
</form>

<% include ./partials/footer %>