<!DOCTYPE html>
<html>
    <head>
        <title>Rachel's Portfolio</title>
        <link rel="stylesheet" ref = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel = "stylesheet" ref = "text/css" href = "/stylesheets/home.css">
    </head>
    <body>
        <header>Home Page</header>
    </body>
</html>