<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" ref = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		
        <link rel = "stylesheet" ref = "text/css" href = "../home/home.css">
    </head>
    <body>
	
		<div class="flex-container">
			<div class = "welcome">
				<h3>Hi I'm Rachel</h3>		
				<p>Seattle-based Analyst and Web Developer</p>
			</div>
			<div class ="links-container">
				<a href="/resume">Resume</a>
				<a href="/projects">Projects</a>
				<a href="/aboutme">About Me</a>
	
			</div>
		</div>
		<canvas></canvas>
		<!-- <div class="absolute-center">

		</div> -->
    </body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../home/home.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" >
</html>