<% include ./partials/header %>
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 order-md-2 order-2 skills content">
			<li><a href = "https://tanrachel-yelpcamp.herokuapp.com/">YelpCamp</a></li>
        </div>
        <div class="col-md-6 order-md-1 order-1 experience content">
			<h2>YelpCamp</h2>
			<ul>
				<li>NodeJS</li>
				<li>Deployed on Heroku</li>
				<li>MongoDB database</li>
			</ul>

        </div>
    </div>
</section>
<% include ./partials/footer %>